@import "tailwindcss";

@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/plum-dark.css";
@import "@radix-ui/colors/ruby.css";
@import "@radix-ui/colors/ruby-dark.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* ---- Fonts ---- */
  --font-*: initial;
  /*noinspection CssUnresolvedCustomProperty*/
  --font-sans: var(--font-quicksand-sans);
  /*noinspection CssUnresolvedCustomProperty*/
  --font-serif: var(--font-crimson-serif);

  /* ---- animation ---- */
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }


  /* ---- Colors ---- */
  --color-*: initial;
  --color-white: rgb(255, 255, 255);
  --color-white-a1: var(--white-a1);
  --color-white-a2: var(--white-a2);
  --color-white-a3: var(--white-a3);
  --color-white-a4: var(--white-a4);
  --color-white-a5: var(--white-a5);
  --color-white-a6: var(--white-a6);
  --color-white-a7: var(--white-a7);
  --color-white-a9: var(--white-a9);
  --color-white-a10: var(--white-a10);
  --color-white-a11: var(--white-a11);
  --color-white-a12: var(--white-a12);

  --color-black: rgb(0, 0, 0);
  --color-black-a1: var(--black-a1);
  --color-black-a2: var(--black-a2);
  --color-black-a3: var(--black-a3);
  --color-black-a4: var(--black-a4);
  --color-black-a5: var(--black-a5);
  --color-black-a6: var(--black-a6);
  --color-black-a7: var(--black-a7);
  --color-black-a9: var(--black-a9);
  --color-black-a10: var(--black-a10);
  --color-black-a11: var(--black-a11);
  --color-black-a12: var(--black-a12);

  --color-slate-1: var(--slate-1);
  --color-slate-2: var(--slate-2);
  --color-slate-3: var(--slate-3);
  --color-slate-4: var(--slate-4);
  --color-slate-5: var(--slate-5);
  --color-slate-6: var(--slate-6);
  --color-slate-7: var(--slate-7);
  --color-slate-8: var(--slate-8);
  --color-slate-9: var(--slate-9);
  --color-slate-10: var(--slate-10);
  --color-slate-11: var(--slate-11);
  --color-slate-12: var(--slate-12);
  
  --color-indigo-1: var(--indigo-1);
  --color-indigo-2: var(--indigo-2);
  --color-indigo-3: var(--indigo-3);
  --color-indigo-4: var(--indigo-4);
  --color-indigo-5: var(--indigo-5);
  --color-indigo-6: var(--indigo-6);
  --color-indigo-7: var(--indigo-7);
  --color-indigo-8: var(--indigo-8);
  --color-indigo-9: var(--indigo-9);
  --color-indigo-10: var(--indigo-10);
  --color-indigo-11: var(--indigo-11);
  --color-indigo-12: var(--indigo-12);

  --color-sage-1: var(--sage-1);
  --color-sage-2: var(--sage-2);
  --color-sage-3: var(--sage-3);
  --color-sage-4: var(--sage-4);
  --color-sage-5: var(--sage-5);
  --color-sage-6: var(--sage-6);
  --color-sage-7: var(--sage-7);
  --color-sage-8: var(--sage-8);
  --color-sage-9: var(--sage-9);
  --color-sage-10: var(--sage-10);
  --color-sage-11: var(--sage-11);
  --color-sage-12: var(--sage-12);

  --color-plum-1: var(--plum-1);
  --color-plum-2: var(--plum-2);
  --color-plum-3: var(--plum-3);
  --color-plum-4: var(--plum-4);
  --color-plum-5: var(--plum-5);
  --color-plum-6: var(--plum-6);
  --color-plum-7: var(--plum-7);
  --color-plum-8: var(--plum-8);
  --color-plum-9: var(--plum-9);
  --color-plum-10: var(--plum-10);
  --color-plum-11: var(--plum-11);
  --color-plum-12: var(--plum-12);

  --color-ruby-1: var(--ruby-1);
  --color-ruby-2: var(--ruby-2);
  --color-ruby-3: var(--ruby-3);
  --color-ruby-4: var(--ruby-4);
  --color-ruby-5: var(--ruby-5);
  --color-ruby-6: var(--ruby-6);
  --color-ruby-7: var(--ruby-7);
  --color-ruby-8: var(--ruby-8);
  --color-ruby-9: var(--ruby-9);
  --color-ruby-10: var(--ruby-10);
  --color-ruby-11: var(--ruby-11);
  --color-ruby-12: var(--ruby-12);
}
